<nav>
  <ul>
    <p><%='Dinamicas: '%> <%='nome_dinamica'%></p>
    <li>
      <%= button_to 'Sim', '#', method: :delete %>
    </li>
    <li>
      <%= button_to 'Não', '#', method: :get %>
    </li>
  </ul>
</nav>
